.characterFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characterBox {
    border: 1px solid black;
}

.selectedCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
}